# Sevendi Eldrige Rifki PoluanðŸ”¥ðŸ”¥ðŸ”¥
### Descriptions: Regression Fundamental

In [1]:
# working environment
!nvidia-smi

Mon Apr 10 06:48:47 2023
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 530.30.02              Driver Version: 530.30.02    CUDA Version: 12.1     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                  Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf            Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  NVIDIA GeForce RTX 3090         On | 00000000:65:00.0 Off |                  N/A |
| 56%   44C    P5               44W / 390W|  24029MiB / 24576MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
+---------------------------------------------------------------------------------------+

## <font color='red'>Import the necessary libraries</font>

In [2]:
import tensorflow as tf
import pandas as pd
import numpy as np
import os  
import time

2023-04-10 07:12:27.294271: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-04-10 07:12:27.332264: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

## <font color='red'>In this experiment, I will perform basic regression on time series data using forex market EUR_USD data from 2002 to 2020. The dataset was obtained from [Kaggle](https://www.kaggle.com/datasets/imetomi/eur-usd-forex-pair-historical-data-2002-2019?resource=download), where you can also access and download the dataset.</font>

In [3]:
!ls

FOREX_EUR_USD_prediction.ipynb	archive.zip

In [4]:
!unzip -o archive.zip

Archive:  archive.zip
  inflating: eurusd_hour.csv
  inflating: eurusd_minute.csv
  inflating: eurusd_news.csv

In [5]:
!ls

FOREX_EUR_USD_prediction.ipynb	eurusd_hour.csv    eurusd_news.csv
archive.zip			eurusd_minute.csv

## <font color='red'>Let's load the dataset for one-minute data prediction.</font>

In [7]:
datasets = pd.read_csv("eurusd_minute.csv")

In [8]:
eurusd_news = pd.read_csv("eurusd_news.csv")

In [19]:
datasets.shape

(5618819, 12)

In [9]:
datasets.head()

,Date,Time,BO,BH,BL,BC,BCh,AO,AH,AL,AC,ACh
0,2005-01-02,18:29,1.3555,1.3555,1.3555,1.3555,0.0,1.3565,1.3565,1.3565,1.3565,0.0
1,2005-01-02,18:38,1.3555,1.3555,1.3555,1.3555,0.0,1.3565,1.3565,1.3565,1.3565,0.0
2,2005-01-02,18:51,1.3562,1.3562,1.3562,1.3562,0.0,1.3572,1.3572,1.3572,1.3572,0.0
3,2005-01-02,18:52,1.3560,1.3560,1.3560,1.3560,0.0,1.3570,1.3570,1.3570,1.3570,0.0
4,2005-01-02,18:55,1.3563,1.3563,1.3563,1.3563,0.0,1.3573,1.3573,1.3573,1.3573,0.0

In [10]:
eurusd_news.head()

,Unnamed: 0,Date,Title,Article
0,0,2019-01-18,Forex - U.S. Dollar Rises as Consumer Optimism...,Â© Reuters.\nInvesting.com - The greenback pick...
1,1,2019-01-18,Forex - Upbeat U.S. Data Can't Help Dollar as ...,Â© Reuters.\nInvesting.com â€“ The U.S. dollar li...
2,2,2019-01-17,Forex - U.S. Dollar Remains Steady as Jobless ...,Â© Reuters.\nInvesting.com - The greenback was ...
3,3,2019-01-17,Forex - Dollar Pushes Higher; Pound Slips as R...,Â© Reuters.\nInvesting.com - The U.S. dollar pu...
4,4,2019-01-17,World stocks rise; sterling up ahead of May vote,Â© Reuters. A trader works on the floor at the ...

In [13]:
combined_datasets = pd.merge(datasets, eurusd_news, on='Date', how='outer').fillna(0)

In [16]:
combined_datasets.shape

(6733274, 15)